<div class="row">
  <div class="col-xs-12">
    <img
      class="image-responsive"
      [src]="recipe.imgPath"
      alt=""
      [ngStyle]="{ maxWidth: '100%', maxHeight: '400px' }"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>{{ recipe.name }}</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div appDropdown class="btn-group dropdown">
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a (click)="onAddIngredientsToShoppingList()">To shopping List</a>
        </li>
        <li><a routerLink="edit">Edit Recipe</a></li>
        <li><a (click)="onDelete()">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <br />
    <p>{{ recipe.description }}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4>Ingredients</h4>
    <ul class="list-group">
      <li *ngFor="let ingredient of recipe.ingredients">
        <app-ingredient-item [ingredient]="ingredient"></app-ingredient-item>
      </li>
    </ul>
  </div>
</div>
