<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit
      [ingredientForEdit]="editIngredient"
      (ingredientAdded)="onAddedIngredient($event)"
      (ingredientEdited)="onEditedIngredient($event)"
      (ingredientCleared)="onClearIngredient()"
    ></app-shopping-edit>
    <hr />
    <hr />
    <ul class="list-group">
      <li *ngFor="let ingredient of ingredients; let idx = index">
        <app-ingredient-item
          [isActive]="ingredientForEdit && (ingredientForEdit.id === ingredient.id)"
          [name]="ingredient.name"
          [ingredient]="ingredient"
          (click)="onSelectIngredient(ingredient)"
          (deletedItem)="onDeleteIngredient($event)"
        ></app-ingredient-item>
      </li>
    </ul>
  </div>
</div>
